

.title{

    text-align: center;

}

.sketchpad{

    display: grid;
    min-height: 90vh;
    height: 90vh;
    min-width: 90vh;
    width: 90vh;
    padding-top: 1vh;
    margin-left: auto;
    margin-right: auto;
   

}

/*Note: Default border-style: none; */

.square{

    border-width: 1px;
    border-color: red;
    border-style: solid; 
    background-color: black;

}
.square:hover{

    background-color: green;

}